body{
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: #0F2027;  /* fallback for old browsers */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.card{
    font-family: 'Montserrat';
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 20px;
    height: 500px;
    width: 300px;
    padding: 5px 30px;
    aling-items: center;
}

.titulo{
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 600;
    color: white;
    text-align: center;
}

.proyectos{
    list-style: decimal;
    color: white;
}

li{
    font-size: 25px;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

a:hover{
    color: white;

    text-shadow:
    0 0 10px white, 
    0 0 20px white, 
    0 0 30px white, 
    0 0 40px white
    ;
}

a:active{
    
}