body{
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: #0F2027;  /* fallback for old browsers */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.card{
    font-family: 'Montserrat';
    background-color: rgba(255, 255, 255, 0.103);
    box-shadow: 0 0 6px 2px #0f2027;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 20px;
    height: 500px;
    width: 300px;
    padding: 5px 30px;
}

.titulo{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.personaje{
    display: flex;
    background-color: rgba(255, 255, 255, 0.041);
    box-shadow: 0 0 4px 4px #96a5ac1f;
    padding: 5px 10px;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;
 

}

.personaje:hover{
    background-color: white;
    transition: all .4s ease;
    transform: scale(1.2);
    margin-left: 36px;
    width: 90%;

}

.personaje:hover .nombre{
    color:#000;
    margin: 0 0 1px 0;
}
.personaje:hover .ocupacion{
    color:#000
}

.foto{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-right: 10px;
}

.nombre{
    font-size: 18px;
    color: white;
    margin: 0 0 3px 0;
    font-weight: bold;
}

.ocupacion{
    font-size: 14px;
    font-weight: 500;
    color: white;
    margin: 0;
}